{
  "root": true,
  "ignorePatterns": [
    "dist"
  ],
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx"
      ],
      "extends": [
        "standard",
        "standard-jsx",
        "standard-with-typescript"
      ]
    }
  ],
  "parserOptions": {
    "project": "./eslint-tsconfig.json"
  }
}
